extends layout

block content
  div#container.container-fluid
    main
      h4 Real Time Application example.
      ul.list-group
        li.list-group-item
          samp#osLinux Linux: <span class="badge">#{osUsage.osLinux}</span>
        li.list-group-item 
          samp#osWindows Windows: <span class="badge">#{osUsage.osWindows}</span>
        li.list-group-item
          samp#osMac Mac OS: <span class="badge">#{osUsage.osMac}</span>

block scripts
  script(src='js/jquery-2.2.4.min.js')
  script(src='js/socket.io.js')
  script(src='js/real-time-prototype-io.js')
