doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href='http://localhost:8080/')
    //base(href='http://192.168.0.101:8080/')

    title RTA NodeJS Prototype
    meta(name='description', content='')
    meta(name='keywords', content='real time application,nodejs,prototype,javascript,expressjs,jade,json,jQuery,bootstrap,socket.io')
    meta(name='application-name', content=process.env.npm_package_name + ' version: ' + process.env.npm_package_version)
    meta(name='author', content=AuthorName)

    link(rel='author', href='mailto:' + AuthorEmail)
    link(rel='license', href='https://www.tldrlegal.com/l/mit', title='MIT')
    // TODO: try dns-prefetch, example googleapis.com! link(rel='prefetch', href='', type='')
    link(rel='icon', href='images/favicon.ico', media='all', type='image/x-icon', sizes='16x16')
    link(rel='stylesheet', href='styles/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='styles/style.css', type='text/css', media='all')

  body
    block content
    block scripts
