extends layout

block content
  div#container.container-fluid
    main
      div#alert.alert(role='alert', hidden)
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;

      form#senddata(name='senddata', method='post')
        fieldset
          legend Choose OS!
          button#osLinux(type='button', class='btn btn-default btn-lg', value='0') Linux
          button#osWindows(type='button', class='btn btn-default btn-lg', value='0') Windows
          button#osMac(type='button', class='btn btn-default btn-lg', value='0') Mac OS

block scripts
  script(src='js/jquery-2.2.4.min.js')
  script(src='js/real-time-prototype.js')
