@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
main {
	position: absolute;
	margin: auto;
	padding: 10px 16px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 65%;
	height: 65%;
	background-color: #000;
	color: green;
	border-radius: 5px;
}
.list-group-item {
	background-color: inherit;
}
.badge {
	color: #000;
	background-color: green;
	font-size: 16px;
  font-weight: 500;
	border-radius: 5px;
}
samp {
	font-size: 1.2em;
}
legend { color: green; }
.btn-default{	margin: 0 4px; }
.btn-default,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.btn-default:active:focus,
fieldset[disabled] .btn-default:hover {
	background-color: #000;
	color: green;
	border-color: green;	
}
.btn-default:focus,
.btn-default:active:focus {
	outline-color: lime;
}
fieldset[disabled] .btn, .close {
	opacity: .5;
}
.alert-success {
	color: inherit;
  background-color: inherit;
	border-color: #e5e5e5;
}
.alert { padding: 10px; }
.close {
	color: inherit;
	font-weight: 500;
	text-shadow: none;
}
.close:focus, .close:hover {
	color: lime;
	outline: none;
}